<li class="experience_item">
    <div class="experience_header">
        <h3 class="experience_title">
            <span class="experience_position">Puesto</span> 
          </h3>
          <h4>
            <span class="experience_company">Empresa</span>, 
            <span class="experience_location">Lugar</span>
          </h4>
      <p class="experience_dates">
        <span class="experience_date-start">Mes Año de ingreso</span> - 
        <span class="experience_date-end">Mes Año de salida</span>
      </p>
    </div>
    <div class="experience_responsibilities">
      <ul class="responsibilities_list"></ul>
    </div>
</li>