<li class="experience_item">
    <div class="experience_header">
        <h3 class="experience_title">
            <span class="experience_position">Puesto</span>, 
            <span class="experience_company">Empresa</span>, 
            <span class="experience_location">Lugar</span>
        </h3>
      <p class="experience_dates">Mes Año de ingreso - Mes Año de salida</p>
    </div>
    <div class="experience_responsibilities">
      <ul class="responsibilities_list">
        <li class="responsibility_item">Responsabilidad 1</li>
      </ul>
    </div>
</li>