@use "vars.scss" as *;



.about_me > div > .list > li > p{
    color: #555;
    font-weight: 700;
}     

/* MOBILE */
    @media (max-width: $mobile-width) {
        /* Código para dispositivos móviles */
        .about_me{
            padding: 2rem;
            text-align: center;
        }
        .about_me > div:not(:last-child){
            margin-bottom: 1.5rem;
        }
        .about_me > div > .title{
            font-size: 1.8rem;
        }
        .about_me > div > .list > li > h4{
            font-size: 1rem;
        }
        .about_me > div > .list > li > p{
            font-size: .85rem;
        }
    }

/* TABLET */
    @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
        /* Código para tablets */
        .about_me{
            padding: 1.5rem;
        }
        .about_me > div:not(:last-child){
            margin-bottom: 1.25rem;
        }
        .about_me > div > .title{
            font-size: 1.4rem;
        }
        .about_me > div > .list > li > h4{
            font-size: 11rem;
        }
        .about_me > div > .list > li > p{
            font-size: .85rem;
        }
    }

/* DESKTOP */
    @media (min-width: $desktop-width) {
        /* Código para escritorio */
        .about_me{
            padding: 1.5rem;
        }
        .about_me > div:not(:last-child){
            margin-bottom: 1.25rem;
        }
        .about_me > div > .title{
            font-size: 1.6rem;
        }
        .about_me > div > .list > li > h4{
            font-size: 1rem;
        }
        .about_me > div > p,li ,.about_me > div > .list > li > p{
            font-size: .9rem;
        }
    }