@use './main.scss' as *;

.cv_layout{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* MOBILE */
    @media (max-width: $mobile-width) {
        /* Código para dispositivos móviles */
        .cv_layout{
            grid-template-columns: 1fr;
        }
    }

/* TABLET */
    @media (min-width: $tablet-min-width) and (max-width:$tablet-max-width) {
        /* Código para tablets */
        .cv_layout {
            padding: 4% 10%; /* Ajuste reducido para tablets */
        }
    }

/* DESKTOP */
    @media (min-width: $desktop-width) {
        /* Código para escritorio */
        .cv_layout{
            padding: 6% 15%;
        }
    }